<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="python" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Python39\python.exe|C:\home\site\wwwroot\yourapp\app.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
